<?xml version="1.0" encoding="UTF-8" ?>
<astrosim>
    <settings>
        <dark>true</dark>
        <accuracy>50</accuracy>
        <lastSave>firstTime</lastSave>
        <bufferLen>3000</bufferLen>
        <trailLen>50</trailLen>
        <positionGap>1000</positionGap>
        <sensitivity>100</sensitivity>
        <burstFactor>32</burstFactor>
    </settings>
</astrosim>