<?xml version="1.0" encoding="UTF-8" ?>
<astrosim>
    <settings>
        <dark>true</dark>
        <accuracy>10</accuracy>
        <lastSave>firstTime</lastSave>
        <speed>0</speed>
        <bufferLen>3000</bufferLen>
        <trailLen>5000</trailLen>
        <sensitivity>100</sensitivity>
    </settings>
</astrosim>