/*
Some theme-independent colors
*/

.root {
    -background-color-1: #03244f;
}

/*
SaveChooser ScrollPane css stuff
*/

.save-chooser > .viewport,
.save-chooser > .scroll-bar
{
    -fx-background-color: transparent;
}

.save-chooser,
.save-chooser:focused
{
    -fx-background-color: -theme-color-3;
    -fx-background-radius: 5;
    -fx-border-color: -theme-color-2;
    -fx-border-radius: 5;
    -fx-padding: 5;
    -fx-background-insets: 0 0 0 0;
}

.save-chooser > .scroll-bar:vertical {
    -fx-padding: 5 2 5 0;
    -fx-scale-x: 0.9;
}

.save-chooser > .scroll-bar > .decrement-button > .decrement-arrow,
.save-chooser > .scroll-bar > .increment-button > .increment-arrow
{
    -fx-scale-x: 0.85;
    -fx-scale-y: 0.85;
    -fx-background-color: -theme-color-2;
}

.save-chooser > .scroll-bar:horizontal {
    -fx-padding: 0 5 2 5;
    -fx-scale-y: 0.9;
}

.save-chooser > .scroll-bar > .thumb {
    -fx-background-color: -theme-color-2;
}

/*
Stuff inside ScrollPanes
*/

.save-chooser-elem {
    -fx-background-color: -theme-color-1;
    -fx-background-radius: 5;
    -fx-border-color: -theme-color-2;
    -fx-border-radius: 5;
    -fx-padding: 5;
}

.save-chooser-elem:hover {
    -fx-background-color: derive(-theme-color-1, 10%);
}

/*
A cool, theme-fitting button
*/

.themed-button > SVGPath {
    -fx-stroke: -theme-text-color-2;
    -fx-fill: -theme-text-color-2;
}

.themed-button:hover > SVGPath,
.themed-button:selected > SVGPath
{
    -fx-stroke: -theme-text-color-1;
    -fx-fill: -theme-text-color-1;
}

.themed-button {
    -fx-background-color: -theme-color-1;
    -fx-background-radius: 5;
    -fx-padding: 8;
}

.themed-button:hover,
.themed-button:selected
{
    -fx-background-color: derive(-theme-color-1, 50%);
}

/*
Simulator ScrollPane stuff
*/

.simulator {
    -fx-background-color: -background-color-1;
}

/*
Menu buttons on top bar of simulator screen
*/

.simulator-menu:hover,
.simulator-menu-selected
{
    -fx-background-color: derive(-theme-color-1, 50%);
    -fx-text-fill: -theme-text-color-1;
    -fx-padding: 2 5 2 5;
    -fx-font-size: 16;
}

.simulator-menu
{
    -fx-background-color: -theme-color-1;
    -fx-text-fill: -theme-text-color-2;
    -fx-padding: 2 5 2 5;
    -fx-font-size: 16;
}

.simulator-menu-dropdown
{
    -fx-background-color: -theme-color-1;
    -fx-border-color: -theme-color-2;
}

.simulator-menu-dropdown-label
{
    -fx-background-color: -theme-color-1;
    -fx-padding: 1 5 1 5;
}

.simulator-menu-dropdown-label > .label
{
    -fx-font-size: 16;
    -fx-text-fill: -theme-text-color-2;
}

.simulator-menu-dropdown-spacer
{
    -fx-font-size: 8;
}

.simulator-menu-dropdown-label:hover
{
    -fx-background-color: derive(-theme-color-1, 50%);
    -fx-padding: 1 5 1 5;
}

.simulator-menu-dropdown-label:hover > .label {
    -fx-text-fill: -theme-text-color-1;
}

/*
Inspector Pane
*/

.inspector-pane-base
{
    -fx-border-color: -theme-color-2;
}

.inspector-pane-top,
.inspector-pane-bottom
{
    -fx-background-color: -theme-color-1;
}

.inspector-title,
.inspector-property-label
{
    -fx-text-fill: -theme-text-color-1;
    -fx-background-insets: 0;
}

.inspector-property-label-changed
{
    -fx-font-style: italic;
    -fx-text-fill: -theme-change-color;
}

.inspector-property-label-invalid
{
    -fx-font-style: italic;
    -fx-text-fill: -theme-error-color;
}

.inspector-pane-centre > .viewport,
.inspector-pane-centre > .scroll-bar
{
    -fx-background-color: transparent;
}

.inspector-pane-centre,
.inspector-pane-centre:focused
{
    -fx-background-color: -theme-color-3;
    -fx-border-color: -theme-color-2;
    -fx-border-width: 1 0 1 0;
    -fx-background-insets: 0 0 0 0;
    -fx-background-radius: 0;
    -fx-padding: 5;
}

.inspector-pane-centre > .scroll-bar:vertical {
    -fx-padding: 2 0 2 0;
    -fx-scale-x: 0.9;
}

.inspector-pane-centre > .scroll-bar > .decrement-button > .decrement-arrow,
.inspector-pane-centre > .scroll-bar > .increment-button > .increment-arrow
{
    -fx-scale-x: 0.85;
    -fx-scale-y: 0.85;
    -fx-background-color: -theme-color-2;
}

.inspector-pane-centre > .scroll-bar:horizontal {
    -fx-padding: 0 2 0 2;
    -fx-scale-y: 0.9;
}

.inspector-pane-centre > .scroll-bar > .thumb {
    -fx-background-color: -theme-color-2;
}

/*
Themed text field
*/

.themed-text-field
{
    -fx-background-color: -theme-color-1;
    -fx-border-color: -theme-color-2;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-text-fill: -theme-text-color-1;
}

.themed-text-field:focused
{
    -fx-background-color: -theme-color-1;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
}

/*
Themed check box
*/

.themed-check-box > .box
{
    -fx-background-color: -theme-color-1;
    -fx-border-color: -theme-color-2;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-padding: 5;
}

.themed-check-box:focused > .box
{
    -fx-background-color: -theme-color-1;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
}

.themed-check-box > .box > .mark
{
    -fx-stroke-width: 2.5;
    -fx-stroke-line-cap: round;
}

.themed-check-box:selected > .box > .mark
{
    -fx-background-color: -theme-text-color-1;
}