.root {
    -theme-color-1: #00002b;
    -theme-color-2: #aaeeff;
    -theme-color-3: #00222b;
    -theme-text-color-1: #ffffff;
    -theme-text-color-2: #555555;
    -theme-error-color: #ff5555;
    -theme-change-color: #55ff99;
    -theme-sky-color: #03244f;
    -theme-contrast-color-1: #aaeeff;
}