.root {
    -theme-color-1: #d7eef4;
    -theme-color-2: #000000;
    -theme-color-3: #d8e2e3;
    -theme-text-color-1: #000000;
    -theme-text-color-2: #888888;
    -theme-error-color: #aa0000;
    -theme-change-color: #00aa00;
    -theme-contrast-color-1: #d7eef4;
}